// $base-color: #6e1d00;
$base-color: #6A2D33;
$base-color-nav: #61292e;
$white: white;
$grey: grey;
$light-grey: #d6d6d6;
$light-blue: #3bcedb;
$orange: #e67300;
$light-green: #75ffca;
$ipad-breakpoint: 900px;
$phone-breakpoint: 600px;